* {
    font-family: calibri;
}

a {
  border-radius: 0px !important;
}

.manajemen > div > a:hover {
  text-decoration: none;
}

button {
  border-radius: 0px !important;
}

input {
  border-radius: 0px !important;
}

input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}

@media (min-width: 139.5px) {
  .manajemen {
    background-size: 100% 640px;
  }
}

@media (max-device-width: 480px) {
  .manajemen {
    background-size: 100% 680px;
  }
}

@media (min-width: 650px) {
  .manajemen {
    background-size: 100% 580px;
  }
}

@media (min-width: 768px) {
  .manajemen {
    background-size: 100% 580px;
  }
}